.sidenav-small {
    height: 150px;
    width: 100%;
    background: #fadc89;
    display: block;
    overflow: hidden;
}

.sidenav-small {
    display: none;
}

.image-cropper-small {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    overflow:hidden;
    margin: 45px 20px;
    display: inline-block;
}

.name-small {
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: 100px;
    margin: 45px 20px 45px 0;
}

.name-small p{
    width: fit-content;
    font-family: 'Abel', 'cwTeXYen', sans-serif;
    display: block;
    margin: 0;
}

.name-tc-small {
    text-align: center;
    font-size: 25px;
}

.name-en-small {
    font-size: 23px;
}

.school-small {
    position: absolute;
    width: max-content;
    display: inline-block;
    margin-left: 140px;
}

.school-year-small{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    background: white;
    padding: 0 12px;
    font-size: 13px;
    font-family: 'Abel', sans-serif;
    width: fit-content;
}

.experience-small {
    margin-top: 20px;
    display: inline-block;
    position: relative;
}

.year-small {
    display: inline-block;
    background: #a1cdca;
    position: relative;
    width: max-content;
    padding: 0 10px;
    left: 10px;
    font-size: 14px;
    font-family: 'Abel', sans-serif;
    color: white;
}